@charset "UTF-8";
.if {
  width: 10px; }

.btn-facebook {
  display: inline-block;
  padding: 10px 20px 10px 36px;
  color: white;
  font-size: 0.8em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3b5998;
  background-image: url("../img/icon-facebook.png");
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

.btn-twitter {
  display: inline-block;
  padding: 10px 20px 10px 36px;
  color: white;
  font-size: 0.8em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00aced;
  background-image: url("../img/icon-twitter.png");
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

.btn-gplus {
  display: inline-block;
  padding: 10px 20px 10px 36px;
  color: white;
  font-size: 0.8em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #dd4b39;
  background-image: url("../img/icon-gplus.png");
  background-position: 8px 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px; }

.col1 {
  margin: 0 10px;
  width: 60px; }

.col2 {
  margin: 0 10px;
  width: 120px; }

.col3 {
  margin: 0 10px;
  width: 180px; }

.col4 {
  margin: 0 10px;
  width: 240px; }

.col5 {
  margin: 0 10px;
  width: 300px; }

.col6 {
  margin: 0 10px;
  width: 360px; }

.col7 {
  margin: 0 10px;
  width: 420px; }

.col8 {
  margin: 0 10px;
  width: 480px; }

.col9 {
  margin: 0 10px;
  width: 540px; }

.col10 {
  margin: 0 10px;
  width: 600px; }

.col11 {
  margin: 0 10px;
  width: 660px; }

.col12 {
  margin: 0 10px;
  width: 720px; }

.pre1 {
  margin-left: 80px; }

.pre2 {
  margin-left: 160px; }

.pre3 {
  margin-left: 240px; }

.pre4 {
  margin-left: 320px; }

.pre5 {
  margin-left: 400px; }

.pre6 {
  margin-left: 480px; }

.pre7 {
  margin-left: 560px; }

.pre8 {
  margin-left: 640px; }

.pre9 {
  margin-left: 720px; }

.pre10 {
  margin-left: 800px; }

.pre11 {
  margin-left: 880px; }

p {
  font-size: 14px; }

/* Cadenas */
.cadena {
  content: "Hola mundo!"; }

/* Números */
.numero {
  margin-bottom: 7%; }

.interpolacion {
  background-image: url("icon.png"); }

/* Listas */
.icon-facebook {
  background-image: url("facebook.png"); }

.icon-twitter {
  background-image: url("twitter.png"); }

.icon-linkedin {
  background-image: url("linkedin.png"); }

/* Mapas */
.mapa {
  content: "Otro valor"; }

.container {
  margin: 0 auto;
  max-width: 680px;
  padding: 0 20px;
  color: #888; }

.box {
  padding: 10px;
  background-color: #e6ebe0;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #444; }
  .box .head {
    border-bottom: 1px solid #9bc1bc;
    padding-bottom: 10px; }
    .box .head h3 {
      margin: 0;
      color: #5ca4a9; }
  .box .cont {
    padding-top: 10px; }

.box-grey {
  padding: 25px;
  background-color: #f3f3f3;
  border-radius: 6px;
  margin-bottom: 50px;
  color: #444; }

.selector {
  padding: 20px; }
  @media (min-width: 680px) and (max-width: 1024px) {
    .selector {
      padding: 10px; } }

@media (min-width: 680px) and (max-width: 1024px) {
  .selector {
    padding: 20px; }

  .selector2 {
    padding: 10px; } }
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #9bc1bc;
  color: white;
  font-size: 0.8em;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-cta {
    background-color: #ed6a5a;
    position: relative;
    padding-left: 30px; }
    .btn-cta::before {
      content: "";
      display: block;
      top: 18px;
      left: 15px;
      position: absolute;
      border-width: 4px;
      border-style: solid;
      border-color: transparent;
      border-left-color: white; }
  .btn:hover {
    opacity: 0.8; }

body {
  color: #444;
  font-family: "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em; }

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 1em 0;
  color: #888; }

h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 0.5em 0; }

p {
  margin: 0 0 1em 0; }

blockquote {
  margin: 0 0 20px 0; }
  blockquote p {
    margin: 0; }

/* 
Comentario 
*/

/*# sourceMappingURL=style.css.map */
