.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9bc1bc;
    color: white;
    font-size: 0.8em;
    border-radius: 4px;
    text: {
        decoration: none;
        transform: uppercase;
    }

    &-cta {
        background-color: #ed6a5a;
        position: relative;
        padding-left: 30px;
        
        &::before {
            content: "";
            display: block;
            top: 18px;
            left: 15px;
            position: absolute;
            border: {
                width: 4px;
                style: solid;
                color: transparent;
                left-color: white;
            }
        }
    }

    &:hover {
        opacity: 0.8;
    }
}