// Extends

.sel {
    width: 100px;
    height: 100px;
    position: relative;
    &.big {
        font-size: 1.2em;
        padding: 20px;
    }
}

.nuevo {
    color: blue;
    @extend .sel;
}

.otro {
    @extend .nuevo;
}

%selector {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

.boton {
    @extend %selector;
}

.boton2 {
    @extend %selector;
}