// Funciones

$fvar: 30px;
$fcolor: white;
$color: rgba($fcolor, 0.3);
.fsel {
    width: if($fvar < 100px, $fvar, 100%);
    background-color: $color;
}

@function lt($color, $valor: 10%) {
    @return mix(white, $color, $valor);
}

@function dk($color, $valor: 10%) {
    @return mix(black, $color, $valor);
}

.selector {
    color: dk(green, 20%);
}