
.container {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 20px;
    color: $title;
}

.box {
    @include box($box-radius, $box-bg, 20px);

    .head {
        border-bottom: 1px solid #9bc1bc;
        padding-bottom: 10px;

        h3 {
            margin: 0;
            color: #5ca4a9;
        }
    }
    
    .cont {
        padding-top: 10px;
    }
}

.box-grey {
    @include box(6px, #f3f3f3, 50px);
}

.selector {
    padding: 20px;
    @include mq-tablet {
        padding: 10px;
    }
}

@include mq-tablet {
    .selector {
        padding: 20px;
    }
    .selector2 {
        padding: 10px;
    }
}


