
.container {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 20px;
    color: $title;
}

.box {
    padding: 10px;
    background-color: #e6ebe0;
    border-radius: 5px;
    margin-bottom: 20px;

    .head {
        border-bottom: 1px solid #9bc1bc;
        padding-bottom: 10px;

        h3 {
            margin: 0;
            color: #5ca4a9;
        }
    }
    
    .cont {
        padding-top: 10px;
    }
}


