$box-bg: #e6ebe0;
$box-radius: 5px;

@mixin box($radius: null, $bg: #f2f2f2, $space: 20px) {
    padding: ($space / 2);
    background-color: $bg;
    // @if unitless($radius) {
    //     @warn "La unidad es requerida en el argumento #{$radius}, se usará px por defecto.";
    //     $radius: 1px * $radius;
    // }
    // border-radius: $radius;
    @if unit($radius) != 'px' {
        @error "La unidad debe ser pixeles";
    } @else  {
        border-radius: $radius;
    }
    margin-bottom: $space;
    @if lightness($bg) < 50% {
        color: #fff;
    } @else {
        color: $text;
    }
}

@mixin mq-tablet {
    @media (min-width: 680px) and (max-width: 1024px) {
        @content;
    }
}