
// Uso de variables
p {
    font-size: $fs;
}

@if($cadena == 'valor') {} // true
@if($cadena) {} // true

// Cadenas
.cadena {
    content: $cadena3;
}

.numero {
    margin-bottom: ($numero1 / $numero2);
}

// Interpolación 
.interpolacion {
    background-image: url('#{$image}');
}

/* Listas */
@each $item in $lista {
    .icon-#{$item} {
        background-image: url('#{$item}.png');
    }
}

/* Mapas */
.mapa {
    content: map-get($mapa, otra-clave);
}